$white: #fff;
$black: #000;
$grey:  #666769;
$grey2: #F5F5F5;
$borderwhite: #E3DED9;
$textblack: #1A171B;
$lightgrey: #DDDEDF;
$lightergrey: #EDECEC;
$lightergrey2: #ECEDEC;
$green: #6AB354;
$green2: #20912A;
$green3: #6cb565;
$green4: #C3E1BB;
$greenselection: #489017;
$highlightgreen:    #3A7611;
$linkgreen: #74B746;
$blue: #8cb9df;
$brown: #9B977C;
$productingtext: #868a8d;
